---
class: blog
layout: default
tint: true
---
<div class="hero hero-heading hero-center">
    <div class="container hero-wrapper">
        <div class="hero-text">
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
        </div>
    </div>
</div>

<section class="page article">
    <div class="container article-wrapper">
        {{ content }}
    </div>
</section>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/base16/dracula.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>