.table {
    --table-row-bg-color: var(--secondary-bg-color-alt);
    --table-row-highlight-bg-color: var(--secondary-bg-color);
    --table-link-color: var(--text-color);
}

.table {
    overflow: auto;
    max-width: 100%;
    min-width: 100%;
}

.table-row--actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-content {
    width: 100%;
}

.table thead th,
.table tbody td {
    text-align: left;
    padding: 10px 30px;
}

.table thead th {
    font-weight: 500;
    font-size: 21px;
}

.table tbody td {
    font-size: 20px;
}

.table tbody tr td {
    background-color: var(--table-row-bg-color);
}

.table tbody tr:first-of-type td:first-of-type {
    border-top-left-radius: 12px;
}

.table tbody tr:first-of-type td:last-of-type {
    border-top-right-radius: 12px;
}

.table tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 12px;
}

.table tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 12px;
}

.table tbody tr.table-row.table-row--highlight td {
    background-color: var(--table-row-highlight-bg-color);
}

.table a {
    color: var(--table-link-color);
}
